/* Add these styles to your CSS */
.modal {
  overlay: {
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
  }
  content: {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* buttonStyles.css */
.button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background-color: #2980b9;
}

.table {
  border-color: "#2980b9";
  border-width: 2px;
}
